In [23]:
from pyspark.sql import SparkSession

In [24]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [25]:
spark

In [26]:
df_pyspark = spark.read.csv('test3.csv',header=True,inferSchema=True)

In [27]:
df_pyspark.show()

+---------+------------+-------+
|     Name| Departments| Salary|
+---------+------------+-------+
|    Krish|Data Science|10000.0|
|    Krish|         IOT| 5000.0|
|   Mahesh|    Big Data| 4000.0|
|    Krish|    Big Data| 4000.0|
|   Mahesh|Data Science| 3000.0|
|Sudhanshu|Data Science|20000.0|
|Sudhanshu|         IOT|10000.0|
|Sudhanshu|    Big Data| 5000.0|
|    Sunny|Data Science|10000.0|
|    Sunny|    Big Data| 2000.0|
+---------+------------+-------+

In [28]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: double (nullable = true)

In [30]:
## Groupy
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|    35000.0|
|    Sunny|    12000.0|
|    Krish|    19000.0|
|   Mahesh|     7000.0|
+---------+-----------+

In [33]:
### Groupby Departmernts
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|    15000.0|
|    Big Data|    15000.0|
|Data Science|    43000.0|
+------------+-----------+

In [35]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [36]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    73000.0|
+-----------+

In [38]:
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|    20000.0|
|    Sunny|    10000.0|
|    Krish|    10000.0|
|   Mahesh|     4000.0|
+---------+-----------+

In [39]:
df_pyspark.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|Sudhanshu|     5000.0|
|    Sunny|     2000.0|
|    Krish|     4000.0|
|   Mahesh|     3000.0|
+---------+-----------+