In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [43]:
## read the dataset -> Importando o Arquivo
#inferSchema -> Tipa a coluna
df_pyspark = spark.read.csv('tabela.csv',header=True,inferSchema=True)
# Outra forma de Declaração: df_pyspark = spark.read.option("header",'true').csv('tabela.csv',inferSchema=True)

In [16]:
### Check the Schema -> Checando o Tipo da Coluna
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [18]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
#Pegando a Coluna
df_pyspark.columns

['Name', 'Age', 'Experience']

In [22]:
df_pyspark.head(3) #Pegando os 3 Primera lista da DF

[Row(Name='Igor', Age=23, Experience=10),
 Row(Name='Vitor', Age=16, Experience=8),
 Row(Name='Marlene', Age=50, Experience=20)]

In [28]:
df_pyspark.select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|   Igor| 23|
|  Vitor| 16|
|Marlene| 50|
|  Almir| 60|
+-------+---+

In [44]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [45]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+
|summary| Name|               Age|       Experience|
+-------+-----+------------------+-----------------+
|  count|    4|                 4|                4|
|   mean| null|             37.25|            13.25|
| stddev| null|21.093047827819163|5.377421934967226|
|    min|Almir|                16|                8|
|    max|Vitor|                60|               20|
+-------+-----+------------------+-----------------+

In [47]:
### Adding Columns in data frame
df_pyspark = df_pyspark.withColumn('Experience After 2 Years',df_pyspark['Experience']+2)
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 Years|
+-------+---+----------+------------------------+
|   Igor| 23|        10|                      12|
|  Vitor| 16|         8|                      10|
|Marlene| 50|        20|                      22|
|  Almir| 60|        15|                      17|
+-------+---+----------+------------------------+

In [49]:
### Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 Years')
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|   Igor| 23|        10|
|  Vitor| 16|         8|
|Marlene| 50|        20|
|  Almir| 60|        15|
+-------+---+----------+

In [50]:
### Raname the columns 
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|    Igor| 23|        10|
|   Vitor| 16|         8|
| Marlene| 50|        20|
|   Almir| 60|        15|
+--------+---+----------+