In [25]:
import pyspark

In [36]:
import pandas as pd
pd.read_csv('tabela.csv')

      Name  Age
0     Igor   23
1    Vitor   16
2  Marlene   50
3    Almir   60

In [27]:
from pyspark.sql import SparkSession

In [28]:
spark=SparkSession.builder.getOrCreate()

In [29]:
spark

In [39]:
df_pyspark=spark.read.option('header','true').csv('tabela.csv')

In [40]:
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
|   Igor| 23|
|  Vitor| 16|
|Marlene| 50|
|  Almir| 60|
+-------+---+

In [43]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [44]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)