In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [9]:
spark.read.csv('test2.csv',header=True,inferSchema=True).show()
df_pyspark = spark.read.csv('test2.csv',header=True,inferSchema=True)

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Igor|  23|        10| 30000|
|  Vitor|  16|         8| 25000|
|Marlene|  50|        20| 20000|
|  Almir|  60|        15| 18000|
| Letica|  21|        30|  5000|
| Carpio|null|      null| 30000|
|   null|  23|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [10]:
###any == how -> Drop if it has Any Null
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Igor| 23|        10| 30000|
|  Vitor| 16|         8| 25000|
|Marlene| 50|        20| 20000|
|  Almir| 60|        15| 18000|
| Letica| 21|        30|  5000|
+-------+---+----------+------+

In [11]:
###Threshold => Dropa uma Linha que tenha no minimo N nÃ£o null
df_pyspark.na.drop(how='all',thresh=2).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|   Igor|  23|        10| 30000|
|  Vitor|  16|         8| 25000|
|Marlene|  50|        20| 20000|
|  Almir|  60|        15| 18000|
| Letica|  21|        30|  5000|
| Carpio|null|      null| 30000|
|   null|  23|        10| 38000|
+-------+----+----------+------+

In [7]:
###Subset -> Drop only in one especific colum
df_pyspark.na.drop(how='any',subset=["Experience"]).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Igor| 23|        10| 30000|
|  Vitor| 16|         8| 25000|
|Marlene| 50|        20| 20000|
|  Almir| 60|        15| 18000|
| Letica| 21|        30|  5000|
+-------+---+----------+------+

In [18]:
### Filling the Missing Value -> Vai substituir os valores faltando pelo que vc escreveu
df_pyspark.na.fill('Missing Value',['Name']).show()

+-------------+----+----------+------+
|         Name| Age|Experience|Salary|
+-------------+----+----------+------+
|         Igor|  23|        10| 30000|
|        Vitor|  16|         8| 25000|
|      Marlene|  50|        20| 20000|
|        Almir|  60|        15| 18000|
|       Letica|  21|        30|  5000|
|       Carpio|null|      null| 30000|
|Missing Value|  23|        10| 38000|
|Missing Value|  36|      null|  null|
+-------------+----+----------+------+

In [23]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")

In [25]:
#Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|   Igor|  23|        10| 30000|         23|                10|         30000|
|  Vitor|  16|         8| 25000|         16|                 8|         25000|
|Marlene|  50|        20| 20000|         50|                20|         20000|
|  Almir|  60|        15| 18000|         60|                15|         18000|
| Letica|  21|        30|  5000|         21|                30|          5000|
| Carpio|null|      null| 30000|         32|                15|         30000|
|   null|  23|        10| 38000|         23|                10|         38000|
|   null|  36|      null|  null|         36|                15|         23714|
+-------+----+----------+------+-----------+------------------+--------------+